
<body>
  <div class="container">
    <form id="form_register" method="post" name="registerform">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <input type="hidden" id="n" name="n">
      <input type="hidden" id="pub" name="pub">
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Name" name="name" id="name" required>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Username" name="usrname" id="usrname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Password" name="psw" id="psw" required>

      <button type="submit" id="register" class="registerbtn">Register</button>

      <div class="container signin">
        <p>Already have an account? <a href="/auth/login">Sign in</a>.</p>
      </div>
    </form>
  </div>
</body>
<script src="/javascripts/main.js"></script>
<script>
  var form = document.forms['form_register']
  var button = document.getElementById('register')
  form.addEventListener('submit', function (e) {
    e.preventDefault();
    var rsa = new RSA();
    var pass = document.getElementById('psw')
    var crypt = rsa.Encryto(pass.value);
    pass.value=crypt.m
    document.getElementById('pub').value=crypt.pub
    document.getElementById('n').value=crypt.n
    console.log(crypt.m);
    console.log(crypt.pub);
    console.log(crypt.n); 
    form.submit();
  })
</script>