<footer class="myFooter" id="footer-wrapper">
		<div class="footer-icons">
			<a href="https://www.pinterest.com/" class="generic-anchor" target="_blank"><i
					class="fa fa-pinterest"></i></a>
			<a href="https://www.facebook.com/" class="generic-anchor" target="_blank"><i
					class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/" class="generic-anchor" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="http://instagram.com/" class="generic-anchor" target="_blank"><i class="fa fa-instagram"></i></a>
			<a href="https://www.youtube.com/" class="generic-anchor" target="_blank"><i class="fa fa-youtube"></i></a>
			<a href="https://plus.google.com/" class="generic-anchor" target="_blank"><i
					class="fa fa-google-plus"></i></a>
		</div>
		</section>
		<section class="footer-bottom">
			<div class="footer-bottom-wrapper">
				<i class="fa fa-copyright" role="copyright"></i> 2021 <a href="https://codepen.io/pa_patki/"><strong>
						Những con đỉ sài gòn</strong></a> <span class="footer-bottom-rights"> - All Rights Reserved -
				</span>
			</div>
		</section>
	</footer>