
<header>
    
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">App Gallery</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<div class="container-fluid">
				{{#if user}}
				 <a  class="navbar-text navbar-right" style="margin-top: 15px;" href="/auth/logout">Logout</a>
				 <p class="navbar-text navbar-right" style="margin-top: 15px;"><a href="#"
					class="navbar-link">{{user.data.name}}</a></p>
				{{/if}}
				<img alt="Brand" id="avatar" style="width: 28px;
        		height: 28px;
        		border-radius: 50%;
        		margin-right: 4px;" class="pull-right"
				src="https://dthezntil550i.cloudfront.net/86/latest/861911302007288750002221253/05f85cab-dc3a-48e3-81ff-b7347d2e450b.png">
				</a>
				</div>
				
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

</header>